//#region [ImportVariables]

@import 'variables';

//#endregion

//#region [TopLevel]

html,body{
  margin:0;
  padding:0;
}
html{
  background-color:$fakePageBorderColor ;
}
body {
 // background-image: url("../../Images/flower-pattern.jpg");
  font-family: Helvetica, Arial, serif;
  //font-family: $mainFontFamily ;
  color: $foregroundColor ;
}

#Page-Master-Container{
  background-color: $backgroundColor;
  border: $fakePagePadding solid $backgroundColor;
  border-radius: $pageBorderRadius;
  position: fixed;
  top:1vh;
  bottom:1vh;
  left:1vh;
  right:1vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #9fece0;
}

//#endregion


//#region [ParagraphStyles]

body { font-size:100%; }
h1 {font-size:1.6rem;}
h2 {font-size:1.34rem;}
h3 {font-size:1.2rem;}
h4 {font-size:1.1rem;}
p {font-size:.9rem;}
hr { }


//#endregion

//#region [MainContent]


.container {
  width:100%;
  display: flex;
  flex-direction: column;
  //background-color: DodgerBlue;
}

.content-block{
  background: green;
  border: 10px solid red;
  box-sizing: border-box;
  width:90%;
}

.image-block{
  border-bottom: 3px solid green;
  border-left: 3px solid green;
  border-right: 3px solid green;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
}

.caption-block {
  background: greenyellow;
  display: none;
}

.sticky-block {
  background: rgb(233, 147, 34);
  height: 3px;
  position: sticky;
  top:0;
}


.lightboxBackground {

  position: fixed;
  background: burlywood;
  width:100% !important;
  height: 100%;
  border: 0 ;
  left:0 !important;
  right: 20px;
  top: 0 !important;
  bottom: 0 !important;

}

.content-block.magnify {
  border-color: lightblue;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  .image-block {
    height:100%;
    img {
      object-fit: contain;
    }
  }
  .caption-block{
    display: inline-block !important;
    position: absolute;
    bottom:1%;
  }
}



//-----------------------------------
//-----------------------------------


//#endregion



//#region [Sidebar]

#Sidebar {
  //height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: 40px;
  padding-top: 20px;
  //background-color: #7b777c;
  padding-top: 39px;
  padding-right: 5px;
  div {
    padding: 7px;
    display: block;
    text-align: right;
    }
  }

  #Main {
    //background-color: #7b777c;
    width: calc(100% - 250px);
    margin-right:250px;
  }
  //#endregion









