

//#region [rgba(0, 205, 30, 0.1) ]
html,body{margin:0;padding:0;}
html{
  background-color:white;
}
body {
 // background-image: url("../../Images/flower-pattern.jpg");

  font-family: "Source Code Pro", "Courier New", monospace;
}
#Master-Container{
  background-color: rgb(116, 116, 116);
  border: 18px solid rgb(192, 192, 192);
  border-radius: 10px;
  position: fixed;
  top:1vh;
  bottom:1vh;
  left:1vh;
  right:1vh;
  overflow-y: scroll;
}



//#endregion


//#region [rgba(197, 65, 120, 0.1) ]






//#endregion



