//#region [ImportVariables]

@import 'variables';

//#endregion



//#region [PageBase]
html,body{margin:0;padding:0;}
html{
  background-color:$fakePageBorderColor ;
}
body {
 // background-image: url("../../Images/flower-pattern.jpg");

  font-family: $mainFontFamily ;
  color: $foregroundColor ;
}
//#endregion


//#region [MasterContainer]


#Master-Container{
  background-color: $backgroundColor;
  border: $fakePagePadding solid $backgroundColor;
  border-radius: 10px;
  position: fixed;
  top:1vh;
  bottom:1vh;
  left:1vh;
  right:1vh;
  overflow-y: scroll;
}

//#endregion

