//#region [Variables]

$backgroundColor : rgb(138, 138, 138) ;
$foregroundColor : yellow ;

$fakePageBorderColor : white ;
$fakePagePadding : 18px ;
$pageBorderRadius : 10px;


$mainFontFamily : "Source Code Pro", "Courier New", monospace ;



//#endregion