#########---region [JekyllConfigInfo]

# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


######### endregion


#########---region [WebsiteDetails]

title: Your awesome title
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
#baseurl: ""  #for testing locally
#baseurl: "ga_blog" # follow along girafe academy tutorial
baseurl: "philipdusel.com" #for whne you connect custom domain
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

######### endregion





#########---region [BuildSettings]


# Build settings
theme: minima
plugins:
  - jekyll-feed


######### endregion





#########---region [SASS]


#sass:
#  sass_dir: _sass

#scss partial folder aka imports aka when u import variables from _variables------
sass:
  sass_dir: MY-ASSETS/SCSS



######### endregion




#########---region [Links]

#navigation:
#sidebar:
#- text: contact me
#  url: /contact/
#- text: Who we are
#  url: /en/who-we-are/
#- text: Projects
#  url: /en/projects/
#  layout: project
#- text: Blog
#  url: /en/blog/
#  layout: post

sidebar:
- text: Work
  url: /work/
- text: About
  url: /about/
- text: Contact
  url: /contact/


######### endregion







#########---region [ExcludeFromProcessing]

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

######### endregion










#########---region [Collections]

#collections:
# collections_dir: my_collections
#  rocks:
#    output: true

collections_dir: mycollections
collections:
  collection1:
    output: true
    permalink: /:name
  collection2:
    output: true
    permalink: /:name
  collection3:
    output: true
    permalink: /:name 
  pixelart1:
    output: true
    permalink: /:categories/:name 

######### endregion

    




#########---region [DefaultFrontmatter]

#default front matter (per collection)
#  for more info go > https://jekyllrb.com/docs/configuration/front-matter-defaults/
defaults:
  -
    scope:
      path: ""
      type: "pixelart1" # a collection in your site, in plural form
    values:
      layout: collection-item
      smiley: so smiley
      image-loc: /MY-ASSETS/images/my-art/pixelart/medium/
      title: "Untitled"
      date-created: "2017"
      media: "acrylic on paper"
      dimensions: '22" x 17"'




#defaults:
#  -
#    scope:
#      path: ""
#      type: "posts"
#    values:
#        layout: "post"
#        title: "My Title"



######### endregion


