//#region [Variables]

//------------------------
$image-outline-width:2px;
//------------------------




  //#endregion



//---------------------------------------//
//---------------------------------------//
//---------------------------------------// 
//#region [PhotoGrid]

//all breakpoints declared in "breakpoints" mixin 

.photo-grid-container {
  display:grid;
  column-gap : 34px ;
  row-gap : 30px;
  .photo-grid-item {
    border: 1px solid green;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    .sticky-block {
      width:100%;
      height:$image-outline-width ;
      position: sticky;
      top:0;
    }
    img{
      //border-width:$image-border-width;
      //border-style: solid;
      outline: $image-outline-width solid yellow;
      width:100%;
      height:auto;
    }
  }

  //------bb BREAKPOINTS
  @include respond-to('small') {
    @include grid($one-column);
    .photo-grid-item {
      border: 1px solid red;
    }
  }
  @include respond-to('medium') {
    @include grid($two-column);
    .photo-grid-item {
      border: 1px solid orange;
    }
  }
  @include respond-to('large') {
    @include grid($three-column);
    .photo-grid-item {
      border: 1px solid blue;
    }
  }
  //------bb BREAKPOINTS
}

  //#endregion

