{% unless page.layout == 'front' %}
  <div class="sidebar" style="color: {{ include.color }}">

    <!-- <div class="circle"></div> -->
    <div class="circle-character"> &#9679; </div>


    
    <ul>
  {% for link in site.sidebar %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'current' %}
      {% endif %}

      <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
        <a class="{{ current }}" href="{{ link.url }}" target="blank">{{ link.text }}</a>
      </li>

    {% endfor %}
    </ul>
    <!--<hr>-->
  </div>
{% endunless %}



