{% unless page.layout == 'front' %}
  <div class="sidebar" style="color: {{ include.color }}">

    <!-- <div class="circle"></div> -->
    <!-- <div class="circle-character"> &#9679; </div> -->


    
    <!--<ul>
  {% for link in site.sidebar %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == "collection-item" %}
        {% assign current = 'current' %}
      {% endif %}

      <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
        <a class="{{ current }}" href="{{ link.url }}" target="blank">{{ link.text }}</a>
      </li>

    {% endfor %}
    </ul>-->
    <!--<hr>-->


    <ul>
      <li {% if page.url == '/work/' or page.url == '/work.html/' or page.layout == "collection-item" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/work/">Work</a>
      </li>
      <li>
        <a href="/MY-ASSETS/PDF/CV_PhilipDusel_2022.pdf" target="blank">About</a>
      </li>
      <li {% if page.url == '/contact/' or page.url == '/contact.html/' or page.path contains "contact/" %} class="active"{% endif %}>
        <a href="{{ site.baseurl }}/contact/">Contact</a>
      </li>
    </ul>
  </div>





{% endunless %}





