$sans-serif: "Source Sans Pro", Helvetica, Verdana, sans-serif;
$serif: Merriweather, Georgia, "Times New Roman", serif;
$mono: "Source Code Pro", Courier, mono;

$serif2: 'Lora', serif;
$cursive1: 'Nanum Pen Script', cursive;